<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreInd - A Indústria 4.0">
    <meta name="author" content="Luis Hlatki">

    <title><%= siteName %></title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />



</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ../partials/navigation.ejs %>


        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include ../partials/user_interface.ejs %>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->


                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Inserir Novo Equipamento</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">

                            <% if(validacao.length > 0) {%>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong>Atenção!</strong>
                                        <ul>
                                            <% for(var i = 0; i < validacao.length; i++) { %>
                                            <li><%= validacao[i].msg %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <% } %>


                            <form action="machine-insert" method="POST">

                                <div class="form-group col-sm-12">
                                    <div class="row">

                                        <div class="form-group col-md-3">
                                            <label for="tileMachine">Nome do Equipamento</label>
                                            <input type="text" class="form-control" id="tileMachine" name="tileMachine">
                                        </div>


                                        <div class="form-group col-md-3">

                                            <a href="#" data-toggle="modal" data-target="#newTypeMachine"><i
                                                    class="fas fa-plus-circle"></i></a> <label for="typeMachine">Tipo de
                                                Equipamento</label>
                                            <select class="form-control" id="typeMachine" name="typeMachine"
                                                data-source="/api-typemachines"
                                                data-valueKey="idTypeMachine" data-displayKey="titleTypeMachine">
                                            </select>

                                        </div>
                                        <div class="form-group col-md-3">

                                            <a href="#" data-toggle="modal" data-target="#newLocation"><i
                                                    class="fas fa-plus-circle"></i></a> <label
                                                for="locationMachine">Localização do Equipamento</label>
                                            <select class="form-control" id="locationMachine" name="locationMachine"
                                                data-source="/api-locations"
                                                data-valueKey="idLocation" data-displayKey="titleLocation">
                                            </select>


                                        </div>

                                        <div class="form-group col-md-3">

                                            <label for="statusMachine">Status do Equipamento</label>
                                            <select class="form-control" id="statusMachine" name="statusMachine">
                                                <option value="Operação">Operação</option>
                                                <option value="Manutenção">Manutenção</option>
                                                <option value="Obsoleto">Obsoleto</option>
                                                <option value="Descartado">Descartado</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="descriptionMachine">Descrição do Equipamento</label>
                                    <textarea class="form-control" id="descriptionMachine" name="descriptionMachine"
                                        rows="3"></textarea>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="techdescriptionMachine">Descrição Técnica Equipamento</label>
                                    <textarea class="form-control" id="techdescriptionMachine"
                                        name="techdescriptionMachine" rows="3"></textarea>
                                </div>

                                <div class="form-group col-md-12 float-right">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    <button type="button" class="btn btn-secondary">Cancelar</button>
                                </div>



                            </form>


                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->



                <div class="modal fade" id="newTypeMachine" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Adicionar Tipo de Equipamento
                                </h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="formTypeMachine" id="formTypeMachine">

                                    <div class="form-group col-md-12">
                                        <label for="titleTypeMachine">Título</label>
                                        <input type="text" class="form-control titleTypeMachine" name="titleTypeMachine"
                                            id="titleTypeMachine" aria-describedby="titleTypeMachine">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="descriptionTypeMachine">Tipo de Equipamento</label>
                                        <textarea class="form-control descriptionTypeMachine"
                                            id="descriptionTypeMachine" name="descriptionTypeMachine"
                                            rows="3"></textarea>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary" type="submit" data-dismiss="modal"
                                    id="formTypeMachineSend">Enviar</button>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="newLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Adicionar Tipo de Equipamento
                                </h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="formLocation" id="formLocation">

                                    <div class="form-group col-md-12">
                                        <label for="titleLocation">Título</label>
                                        <input type="text" class="form-control titleLocation" name="titleLocation"
                                            id="titleLocation" aria-describedby="titleLocation">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="descriptionLocation">Tipo de Equipamento</label>
                                        <textarea class="form-control descriptionLocation" id="descriptionLocation"
                                            name="descriptionLocation" rows="3"></textarea>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary" type="submit" data-dismiss="modal"
                                    id="formLocationSend">Enviar</button>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; <%= siteName %></span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <%- include ../partials/footer.ejs %>


        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <script src="js/user-info.js"></script>


        <script>

            function loadLocations() {

                $('select[data-source]').each(function () {
                    var $select = $(this);
                    $.ajax({
                        url: $select.attr('data-source'),
                    }).then(function (options) {
                        console.log(options.data)
                        options.data.map(function (option) {
                            var $option = $('<option>');

                            $option
                                .val(option[$select.attr('data-valueKey')])
                                .text(option[$select.attr('data-displayKey')]);

                            $select.append($option);
                        });
                    });
                });
            }

            loadLocations()




        </script>


        <script type="text/javascript">
            $(function () {
                $('#formTypeMachineSend').click(function () {

                    var myForm = document.getElementById('formTypeMachine');

                    var dados = new FormData(myForm);

                    var description = dados.get('descriptionTypeMachine');
                    var title = dados.get('titleTypeMachine');




                    $.ajax({
                        url: 'http://'+ actualURL +'/api-tm',
                        type: "POST",
                        data: {
                            titleTypeMachine: title,
                            descriptionTypeMachine: description
                        },
                        success: function (data) {

                            document.getElementById("typeMachine").options.length = 0;
                            loadLocations()


                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                });

                $('#formLocationSend').click(function () {

                    var myForm = document.getElementById('formLocation');

                    var dados = new FormData(myForm);


                    var title = dados.get('titleLocation');
                    var description = dados.get('descriptionLocation');

                    $.ajax({
                        url: 'http://'+ actualURL +'/api-lo',
                        type: "POST",
                        data: {
                            titleLocation: title,
                            descriptionLocation: description
                        },
                        success: function (data) {

                            document.getElementById("locationMachine").options.length = 0;
                            loadLocations()


                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                });
            });


        </script>



</body>

</html>