<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= siteName %></title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />



</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ../partials/navigation.ejs %>


        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include ../partials/user_interface.ejs %>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Ordens de Serviço</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <% if (role <= 1) { %>

                        <div class="card-header py-3">
                            <a href="os-open" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">Abrir OS</span>
                            </a>
                        </div>
                        <% } %>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Local</th>
                                            <th>Equipamento</th>
                                            <th>Técnico</th>
                                            <th>Data de Ínicio</th>
                                            <th>Última Atualização</th>
                                            <th>Tipo de OS</th>
                                            <th>Criticidade</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Título</th>
                                            <th>Local</th>
                                            <th>Equipamento</th>
                                            <th>Técnico</th>
                                            <th>Data de Ínicio</th>
                                            <th>Última Atualização</th>
                                            <th>Tipo de OS</th>
                                            <th>Criticidade</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <% if(tickets.length > 0) { %>
                                        <% for(var i = 0; i < tickets.length; i++) { %>

                                        <tr>
                                            <td><%= tickets[i].titleTicket %></td>
                                            <td><%= tickets[i].titleLocation %></td>
                                            <td><%= tickets[i].tileMachine %></td>

                                            <% if(tickets[i].id_user < 1){%>
                                                <td>Não Definido</td>
                                            <%} else { %>
                                            <td><%= tickets[i].name %> </td>
                                            <%}%>
                                            
                                            <td><%= tickets[i].dateTicket %></td>
                                            <td>
                                                <% if(tickets[i].date_updatedTicket == "0000-00-00" || tickets[i].date_updatedTicket == "") { %>
                                                Nenhuma atualização

                                                <% } else { %>

                                                <%= tickets[i].date_updatedTicket %>

                                                <% } %>

                                            </td>
                                            <td><%= tickets[i].titleTypeTicket %></td>

                                            <% if(tickets[i].criticalityTicket == 0){%>
                                                <td>Não Definido</td>
                                                <%} else { %>
                                                <td><%= tickets[i].titleCriticality %> </td>
                                                <%}%>

                                            <% if(tickets[i].statusTicket == "Em andamento") { %>
                                            <td class="bd-warning">
                                                <p>Em andamento</p>
                                            </td>
                                            <% } %>
                                            <% if(tickets[i].statusTicket == "Resolvido") { %>
                                            <td class="bd-success">
                                                <p>Resolvido</p>
                                            </td>
                                            <% } %>
                                            <% if(tickets[i].statusTicket == "Cancelado") { %>
                                            <td class="bd-danger">
                                                <p>Cancelado</p>
                                            </td>
                                            <% } %>


                                            <td style="text-align: center;">

                                                <a href="os-detail?id=<%= tickets[i].idTicket %>"
                                                    class="btn btn-info btn-circle btn-sm">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                                <% if (role <= 1) { %>
                                                <a href="os-edit?id=<%= tickets[i].idTicket %>"
                                                    class="btn btn-warning btn-circle btn-sm">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="#" data-toggle="modal"
                                                    data-target="#deleteModalId<%= tickets[i].idTicket %>"
                                                    class="btn btn-danger btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                                <% } %>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="deleteModalId<%= tickets[i].idTicket %>"
                                            tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Remover Ordem
                                                            de Serviço</h5>
                                                        <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">Deseja realmente remover a OS Nº
                                                        <%= tickets[i].idTicket %>?</div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">Cancelar</button>
                                                        <a class="btn btn-primary"
                                                            href="os-delete?id=<%= tickets[i].idTicket %>">Remover</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% } %>
                                        <% } %>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <%= siteName %></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include ../partials/footer.ejs %>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="js/user-info.js"></script>




    <script>



        function sanitizeString(str) {
            str = str.replace(/[^a-z0-9áéíóúñü \.,_-]/gim, "");
            return str.trim();
        }


        $(document).ready(function () {
            $('#dataTable').DataTable({
                responsive: true,
                processing: true,
                initComplete: function () {
                    this.api().columns([1, 2, 3, 6, 7]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        $(select).click(function (e) {
                            e.stopPropagation();
                        });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                "columnDefs": [
                    { "width": "10%", "targets": 0 },
                    { "width": "10%", "targets": 1 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "10%", "targets": 5 },
                    { "width": "10%", "targets": 6 },
                    { "width": "5%", "targets": 7 },
                    { "width": "10%", "targets": 8 },
                    { "width": "10%", "targets": 9 },

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }

            });
        });


    </script>

</body>

</html>