<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreInd - A Indústria 4.0">
    <meta name="author" content="Luis Hlatki">

    <title><%= siteName %></title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />



</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <%- include ../partials/navigation.ejs %>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ../partials/user_interface.ejs %>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <style>
                    .form-profile {
                        text-align: center;
                    }

                    .form-profile img {
                        border-radius: 150px;
                        margin: 25px;
                        text-align: center;
                    }

                    #dataTable tbody tr td:last-child {
                        text-align: center;
                    }

                    #dataTable tbody tr td:last-child a {
                        margin-left: 2px;
                    }
                </style>
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Solicitações de Serviço</h1>



                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="#" data-toggle="modal" data-target="#addItem"
                                class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Nova Solicitação de Serviço</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>

                                        <tr>
                                            <th>Nº SS</th>
                                            <th>Data de Abertura</th>
                                            <th>Colaborador</th>
                                            <th>Equipamento</th>
                                            <th>Localização</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>


                        </div>

                    </div>
                    <!-- End of Main Content -->

                    <form action="/solicitations-update" method="post">
                        <div class="modal fade" id="editItem" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nova Solicitação de Serviço
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <% if(validacaoEdit.length > 0) {%>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger">
                                                    <strong>Atenção!</strong>
                                                    <ul>
                                                        <% for(var i = 0; i < validacaoEdit.length; i++) { %>
                                                        <li><%= validacaoEdit[i].msg %></li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <% } %>


                                        <% if (erros.length > 0) { %>

                                        <div class="alert alert-danger">
                                            <strong>Atenção!</strong>
                                            <ul>

                                                <li><%=erros%></li>

                                            </ul>
                                        </div>

                                        <% } %>

                                        <div class="form-group col-md-12">
                                            <label for="descriptionSolicitation">Descrição da Solicitação de
                                                Serviço</label>
                                            <textarea class="form-control descriptionSolicitation"
                                                id="descriptionSolicitation" name="descriptionSolicitation"
                                                rows="3"></textarea>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label for="dateSolicitation">Data da Solicitação de Serviço</label>
                                            <div class="input-group date" id="dateSolicitationEdit"
                                                data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input"
                                                    name="dateSolicitation" data-target="#dateSolicitationEdit" />
                                                <div class="input-group-append" data-target="#dateSolicitationEdit"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="userSolicitation">Solicitante</label>
                                            <select class="form-control userSolicitation" id="userSolicitation"
                                                name="userSolicitation" data-source="/api-users" data-valueKey="id_user"
                                                data-displayKey="name">
                                                <option value="0">Não definido</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="machineSolicitation">Equipamento</label>
                                            <select class="form-control machineSolicitation" id="machineSolicitation"
                                                name="machineSolicitation" data-source="/api-machines"
                                                data-valueKey="idMachine" data-displayKey="tileMachine">
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="locationSolicitation">Localização</label>
                                            <select class="form-control locationSolicitation" id="locationSolicitation"
                                                name="locationSolicitation" data-source="/api-locations"
                                                data-valueKey="idLocation" data-displayKey="titleLocation">
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="idSolicitation" class="idSolicitation">

                                        <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal">Cancelar</button>
                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- Delete Modal HTML -->
                    <form action="/solicitations-delete" method="post">
                        <div class="modal fade" id="deleteItem" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Remover Solicitação de Serviço
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        Deseja realmente remover a solicitação Nº: <span id="name"></span> ?


                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="idSolicitation" class="idSolicitation">
                                        <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal">Cancelar</button>

                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="/solicitations-insert" method="post">
                        <div class="modal fade" id="addItem" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nova Solicitação de Serviço
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <% if(validacao.length > 0) {%>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger">
                                                    <strong>Atenção!</strong>
                                                    <ul>
                                                        <% for(var i = 0; i < validacao.length; i++) { %>
                                                        <li><%= validacao[i].msg %></li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <% } %>


                                        <% if (erros.length > 0) { %>

                                        <div class="alert alert-danger">
                                            <strong>Atenção!</strong>
                                            <ul>

                                                <li><%=erros%></li>

                                            </ul>
                                        </div>

                                        <% } %>

                                        <div class="form-group col-md-12">
                                            <label for="descriptionSolicitation">Descrição da Solicitação de
                                                Serviço</label>
                                            <textarea class="form-control" id="descriptionSolicitation"
                                                name="descriptionSolicitation" rows="3"></textarea>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label for="dateSolicitation">Data da Solicitação de Serviço</label>
                                            <div class="input-group date" id="dateSolicitation"
                                                data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input"
                                                    name="dateSolicitation" data-target="#dateSolicitation" />
                                                <div class="input-group-append" data-target="#dateSolicitation"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="userSolicitation">Solicitante</label>
                                            <select class="form-control" id="userSolicitation" name="userSolicitation"
                                                data-source="/api-users" data-valueKey="id_user" data-displayKey="name">
                                                <option value="0">Não definido</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="machineSolicitation">Equipamento</label>
                                            <select class="form-control" id="machineSolicitation"
                                                name="machineSolicitation" data-source="/api-machines"
                                                data-valueKey="idMachine" data-displayKey="tileMachine">
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="locationSolicitation">Localização</label>
                                            <select class="form-control" id="locationSolicitation"
                                                name="locationSolicitation" data-source="/api-locations"
                                                data-valueKey="idLocation" data-displayKey="titleLocation">
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal">Cancelar</button>
                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="/solicitations-insert" method="post">

                        <div class="modal fade" id="viewItem" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ver Solicitação de Serviço
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group col-md-12">
                                            <label for="descriptionSolicitation">Descrição da Solicitação de
                                                Serviço</label>
                                            <textarea class="form-control descriptionSolicitation"
                                                id="descriptionSolicitation" name="descriptionSolicitation" rows="3"
                                                readonly></textarea>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label for="dateSolicitation">Data da Solicitação de Serviço</label>
                                            <input type="text" class="form-control dateSolicitation"
                                                name="dateSolicitation" data-target="#dateSolicitation"
                                                readonly /></input>

                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="userSolicitation">Solicitante</label>
                                            <input type="text" class="form-control userSolicitation"
                                                name="userSolicitation" data-target="#userSolicitation"
                                                readonly /></input>

                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="machineSolicitation">Equipamento</label>
                                            <input type="text" class="form-control machineSolicitation"
                                                name="machineSolicitation" data-target="#machineSolicitation"
                                                readonly /></input>

                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="locationSolicitation">Localização</label>
                                            <input type="text" class="form-control locationSolicitation"
                                                name="locationSolicitation" data-target="#locationSolicitation"
                                                readonly /></input>
                                        </div>

                                    </div>
                                    <div class="modal-footer" style="text-align: center; display: block;">
                                        <input type="hidden" name="idSolicitation" class="idSolicitation">
                                        <input type="hidden" name="idMachine" class="idMachine">
                                        <input type="hidden" name="idUser" class="idUser">
                                        <input type="hidden" name="idLocation" class="idLocation">

                                        <input class="btn btn-danger" type="submit" name="cancelSS"
                                            value="Cancelar"></input>
                                        <input class="btn btn-warning" type="submit" name="doubleSS"
                                            value="Duplicada"></input>
                                        <input class="btn btn-success" type="submit" name="openOS"
                                            value="Abrir OS"></input>
                                        <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                    </form>


                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; <%= siteName %></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    <%- include ../partials/footer.ejs %>



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>


    <script src="js/user-info.js"></script>


    <% if (erros.length > 0 || validacao.length) { %>
    <script>
        $('#addItem').modal('show'); 
    </script>
    <% } %>

    <% if (validacaoEdit.length) { %>
    <script>
        $('#editItem').modal('show'); 
    </script>
    <% } %>





    <!-- Page level custom scripts -->
    <script>



        $(function () {
            $('#dateSolicitation').datetimepicker({
                locale: 'pt-br',
                date: moment()
            });
        });

        function loadUsers() {

            $('select[data-source]').each(function () {
                var $select = $(this);
                $.ajax({
                    url: $select.attr('data-source'),
                }).then(function (options) {
                    options.data.map(function (option) {
                        var $option = $('<option>');

                        $option
                            .val(option[$select.attr('data-valueKey')])
                            .text(option[$select.attr('data-displayKey')]);

                        $select.append($option);
                    });
                });
            });
        }


        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "ajax": "http://" + actualURL + "/api-solicitations",
                responsive: true,
                processing: true,
                columns: [
                    {
                        data: 'idSolicitation',
                        render: function (data, type, row) {
                            return "#" + row.idSolicitation;

                        }
                    },
                    { data: 'dateSolicitation' },
                    { data: 'name' },
                    { data: 'tileMachine' },
                    { data: 'titleLocation' },
                    {
                        data: 'status',
                        render: function (data, type, row) {

                            if (row.status == 0) {
                                return "Em aberto";
                            }
                            else if (row.status == 1) {
                                return "Cancelada";
                            }
                            else if (row.status == 2) {
                                return "Duplicada";
                            }
                            else if (row.status == 3) {
                                return "OS Aberta";
                            }
                        }
                    },
                    { data: "actions" }

                ],
                "columnDefs": [
                    {
                        "targets": 6, //"Número referente a coluna, startando no 0"
                        "render": function (data, type, row) {

                            //Aqui tem um callback onde pode retornar o botão
                            //row - aqui você possui todos os atributos da sua linha
                            //Basta criar seu botão e como string e retornar;

                            if (row.status == 3) {
                                var deleteBtn = '<a href="#" data-toggle="modal" data-id="' + row.idSolicitation + '" class="delete btn btn-danger btn-circle btn-sm">' +
                                    '<i class="fas fa-trash"></i>' +
                                    '</a>';
                            }
                            else {
                                var deleteBtn = '<a href="#" data-toggle="modal" data-id="' + row.idSolicitation + '" data-date="' + row.dateSolicitation + '" data-name="' + row.name + '" data-machine="' + row.tileMachine + '" data-location="' + row.titleLocation + '" data-description="' + row.descriptionSolicitation + '" data-user-id="' + row.userSolicitation + '" data-id-location="' + row.locationSolicitation + '" data-id-machine="' + row.machineSolicitation + '"  class="view btn btn-primary btn-circle btn-sm">' +
                                    '<i class="fas fa-eye"></i>' +
                                    '</a>' + '<a href="#" data-toggle="modal" data-id="' + row.idSolicitation + '" data-date="' + row.dateSolicitation + '" data-name="' + row.name + '" data-machine="' + row.tileMachine + '" data-location="' + row.titleLocation + '" data-description="' + row.descriptionSolicitation + '" data-user-id="' + row.userSolicitation + '" data-id-location="' + row.locationSolicitation + '" data-id-machine="' + row.machineSolicitation + '"  class="edit btn btn-warning btn-circle btn-sm">' +
                                    '<i class="fas fa-edit"></i>' +
                                    '</a>' +
                                    '<a href="#" data-toggle="modal" data-id="' + row.idSolicitation + '" class="delete btn btn-danger btn-circle btn-sm">' +
                                    '<i class="fas fa-trash"></i>' +
                                    '</a>';
                            }



                            return deleteBtn;
                        }
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });

        loadUsers();


        //showing delete record modal
        $('#dataTable').on('click', '.edit', function () {

            var id = $(this).data('id');
            var idUser = $(this).data('user-id');
            var idLocation = $(this).data('id-location');
            var idMachine = $(this).data('id-machine');
            var date = $(this).data('date');
            var name = $(this).data('name');
            var machine = $(this).data('machine');
            var location = $(this).data('location');
            var description = $(this).data('description');

            $('#editItem').modal('show');
            $('.idSolicitation').val(id);


            $('#dateSolicitationEdit').datetimepicker({
                locale: 'pt-br',
                date: moment(date, 'DD/MM/YYYY HH:mm:ss')
            });

            $("#editItem .userSolicitation option[value=" + idUser + "]").prop('selected', true);
            $("#editItem .machineSolicitation option[value=" + idMachine + "]").prop('selected', true);
            $("#editItem .locationSolicitation option[value=" + idLocation + "]").prop('selected', true);
            $('#editItem .descriptionSolicitation').val(description);

        });

        $('#editItem').on('hidden.bs.modal', function () {
            $("#editItem .userSolicitation option:selected", this).removeAttr('selected');
            $("#editItem .machineSolicitation option:selected", this).removeAttr('selected');
            $("#editItem .locationSolicitation option:selected", this).removeAttr('selected');
            $('#dateSolicitationEdit').datetimepicker('destroy');
        })



        $('#dataTable').on('click', '.delete', function () {
            var id = $(this).data('id');
            $('#deleteItem').modal('show');
            $('.idSolicitation').val(id);
            document.getElementById("name").innerHTML = id;

        });

        $('#dataTable').on('click', '.view', function () {
            var id = $(this).data('id');
            var date = $(this).data('date');
            var name = $(this).data('name');
            var machine = $(this).data('machine');
            var location = $(this).data('location');
            var description = $(this).data('description');
            var date = $(this).data('date');
            var idUser = $(this).data('user-id');
            var idLocation = $(this).data('id-location');
            var idMachine = $(this).data('id-machine');

            $('#viewItem').modal('show');
            $('.userSolicitation').val(name);
            $('.dateSolicitation').val(date);
            $('.locationSolicitation').val(location);
            $('.machineSolicitation').val(machine);
            $('.descriptionSolicitation').val(description);
            $('.idSolicitation').val(id);
            $('.idUser').val(idUser);
            $('.idMachine').val(idLocation);
            $('.idLocation').val(idMachine);


        });




    </script>




</body>

</html>