<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CoreInd - A Indústria 4.0">
  <meta name="author" content="Luis Hlatki">

  <title><%= siteName %></title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">

  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />


</head>

<body id="page-top">


  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    <%- include ../partials/navigation.ejs %>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include ../partials/user_interface.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <style>
          .form-profile {
            text-align: center;
          }

          .form-profile img {
            border-radius: 150px;
            margin: 25px;
            text-align: center;
          }

          #dataTable tbody tr td:last-child {
            text-align: center;
          }

          #dataTable tbody tr td:last-child a {
            margin-left: 2px;
          }
        </style>
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Usuários</h1>



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <a href="#" data-toggle="modal" data-target="#addItem" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text">Novo Usuário</span>
              </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>

                    <tr>
                      <th>Nome</th>
                      <th>Usuário</th>
                      <th>Email</th>
                      <th>Telefone</th>
                      <th>Data de Cadastro</th>
                      <th>Tipo de Acesso</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>

              </div>


            </div>

          </div>
          <!-- End of Main Content -->

          <!-- Delete Modal HTML -->
          <form action="/user-delete" method="post">
            <div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remover Usuário</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    Deseja realmente remover o usuário de: <span id="name"></span> ?


                  </div>
                  <div class="modal-footer">
                    <input type="hidden" name="id_user" class="id_user">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                    <button class="btn btn-primary" type="submit">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <form action="/user-insert" method="post">
            <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Novo Usuário
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <% if(validacao.length > 0) {%>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="alert alert-danger">
                          <strong>Atenção!</strong>
                          <ul>
                            <% for(var i = 0; i < validacao.length; i++) { %>
                            <li><%= validacao[i].msg %></li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <% } %>


                    <% if (erros.length > 0) { %>

                    <div class="alert alert-danger">
                      <strong>Atenção!</strong>
                      <ul>

                        <li><%=erros%></li>

                      </ul>
                    </div>

                    <% } %>

                    <div class="form-group col-md-12">
                      <label for="name">Nome Completo</label>
                      <input type="text" class="form-control name" id="name" name="name" aria-describedby="name">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="user">Usuário</label>
                      <input type="text" class="form-control user" id="user" name="user" aria-describedby="user">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="password">Senha</label>
                      <input type="password" class="form-control password" id="password" name="password"
                        aria-describedby="password">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="email">Email</label>
                      <input type="email" class="form-control email" id="email" name="email" aria-describedby="email">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="phone">Telefone</label>
                      <input type="text" class="form-control phone" id="phone" name="phone" aria-describedby="phone"
                        maxlength="15">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="role">Tipo de Acesso</label>
                      <select class="form-control role" id="role" name="role">
                        <option value="0">Acesso PCM</option>
                        <option value="1">Acesso Administrador</option>
                        <option value="2">Acesso Técnico</option>
                        <option value="3">Acesso Colaborador</option>
                      </select>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <form action="/user-update" method="post">
            <div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Usuário
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <% if(validacao.length > 0) {%>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="alert alert-danger">
                          <strong>Atenção!</strong>
                          <ul>
                            <% for(var i = 0; i < validacao.length; i++) { %>
                            <li><%= validacao[i].msg %></li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <% } %>


                    <% if (erros.length > 0) { %>

                    <div class="alert alert-danger">
                      <strong>Atenção!</strong>
                      <ul>

                        <li><%=erros%></li>

                      </ul>
                    </div>

                    <% } %>

                    <div class="form-group col-md-12">
                      <label for="name">Nome Completo</label>
                      <input type="text" class="form-control name" id="name" name="name" aria-describedby="name">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="user">Usuário</label>
                      <input type="text" class="form-control user" id="user" name="user" aria-describedby="user">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="password">Senha</label>
                      <input type="password" class="form-control password" id="password" name="password"
                        aria-describedby="password">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="email">Email</label>
                      <input type="email" class="form-control email" id="email" name="email" aria-describedby="email">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="phone">Telefone</label>
                      <input type="text" class="form-control phone" id="phone" name="phone" aria-describedby="phone"
                        maxlength="15">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="role">Tipo de Acesso</label>
                      <select class="form-control role" id="role" name="role">
                        <option value="0">Acesso PCM</option>
                        <option value="1">Acesso Administrador</option>
                        <option value="2">Acesso Técnico</option>
                        <option value="3">Acesso Colaborador</option>
                      </select>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <input type="hidden" name="id_user" class="id_user">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; <%= siteName %></span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    <%- include ../partials/footer.ejs %>



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>



    <script src="js/user-info.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>


    <% if (erros.length > 0 || validacao.length) { %>
    <script>
      $('#addItem').modal('show'); 
    </script>
    <% } %>



    <!-- Page level custom scripts -->
    <script>

      /* Máscaras ER */
      function mascara(o, f) {
        v_obj = o
        v_fun = f
        setTimeout("execmascara()", 1)
      }
      function execmascara() {
        v_obj.value = v_fun(v_obj.value)
      }
      function mtel(v) {
        v = v.replace(/\D/g, "");             //Remove tudo o que não é dígito
        v = v.replace(/^(\d{2})(\d)/g, "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
        v = v.replace(/(\d)(\d{4})$/, "$1-$2");    //Coloca hífen entre o quarto e o quinto dígitos
        return v;
      }
      function id(el) {
        return document.getElementById(el);
      }
      window.onload = function () {
        id('phone').onkeyup = function () {
          mascara(this, mtel);
        }
      }

      var mask = $(document).ready(function () {
        $('#birth-date').mask('00/00/0000');
      });

      // Call the dataTables jQuery plugin
      $(document).ready(function () {
        $('#dataTable').DataTable({
          responsive: true,
          processing: true,
          "ajax": "http://" + actualURL + "/api-users",
          columns: [
            { data: 'name' },
            { data: 'user' },
            { data: 'email' },
            { data: 'phone' },
            {
              data: 'date',
              render: function (data, type, row) {
                return moment(row.date).format("DD/MM/YYYY HH:mm:ss");


              }
            },
            {
              data: 'role',
              render: function (data, type, row) {
                if (row.role == 0) {
                  return "Acesso Comum";

                }
                else if(row.role == 1) {
                  return "Acesso de Administrador";
                }
                else if(row.role == 2) {
                  return "Acesso de Técnico";
                }

                else if(row.role == 3) {
                  return "Acesso de Colaborador";
                }


              }
            },
            { data: "actions" }

          ],
          "columnDefs": [
            {
              "targets": 6, //"Número referente a coluna, startando no 0"
              "render": function (data, type, row) {

                //Aqui tem um callback onde pode retornar o botão
                //row - aqui você possui todos os atributos da sua linha
                //Basta criar seu botão e como string e retornar;

                var deleteBtn = '<a href="#" data-toggle="modal" data-id="' + row.id_user + '" data-name="' + row.name + '" data-user="' + row.user + '" data-email="' + row.email + '" data-phone="' + row.phone + '" data-role="' + row.role + '" class="edit btn btn-warning btn-circle btn-sm">' +
                  '<i class="fas fa-edit"></i>' +
                  '</a>' +
                  '<a href="#" data-toggle="modal" data-id="' + row.id_user + '" data-name="' + row.name + '" class="delete btn btn-danger btn-circle btn-sm">' +
                  '<i class="fas fa-trash"></i>' +
                  '</a>';

                return deleteBtn;
              }
            }
          ],
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
          }
        });
      });





      //showing delete record modal
      $('#dataTable').on('click', '.edit', function () {
        var id = $(this).data('id');
        var name = $(this).data('name');
        var user = $(this).data('user');
        var email = $(this).data('email');
        var phone = $(this).data('phone');
        var role = $(this).data('role');
        $('#editItem').modal('show');
        $('.id_user').val(id);
        $('.name').val(name);
        $('.user').val(user);
        $('.email').val(email);
        $('.phone').val(phone);
        $('.role').val(role);
      });

      $('#dataTable').on('click', '.delete', function () {
        var id = $(this).data('id');
        var name = $(this).data('name');
        $('#deleteItem').modal('show');
        $('.id_user').val(id);
        document.getElementById("name").innerHTML = name;

      });

      mask();


    </script>




</body>

</html>